*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: grid;
  justify-content: center;
  text-transform: uppercase;
  background: #0b152f;
  /* background: oklch(0.962 0.018 272.314); */
  color: white;
}

section {
    text-align: center;
    padding: 1.25rem;
}

.container h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-block-end: 3rem
}

.end-container h1 {
    display: none;
}

@keyframes wipe-in-down {
  from {
    clip-path: inset(0 0 100% 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

[transition-style="in:wipe:down"] {
  animation: 2.5s cubic-bezier(.25, 1, .30, 1) wipe-in-down both;
}

/* cajas de los dias horas minutos y segundos */

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.time-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    transition: transform 0.3s;
}

.time-block:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
}  


/* fire */
/* SVG FIRE */
.mo-fire {
  height: auto;
  position: fixed;
  left:20%;
  bottom: -50px;
  z-index: 4;
}

#svg-view {
	width: 252px;
	height: 125px;
	left: 0px;
}

.mo-fire svg {
  width: 100%;
  height: auto;
  position:relative;
  right:40px;
}
.flame {
  animation-name: flameDisappear;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  opacity: 0.5;
  transform-origin: 45% 45% 0;
}
.flame.one {
  animation-delay: 1s;
  animation-duration: 3s;
}
.flame.two{
  animation-duration: 5s;
  animation-delay: 1s;
}


.flame-main {
  animation-name: flameMovement;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.flame-main.one {
  animation-duration: 2.2s;
  animation-delay: 1s;
}
.flame-main.two {
  animation-duration: 2s;
  animation-delay: 1s;
}
.flame-main.three {
  animation-duration: 2.1s;
  animation-delay: 3s;
}
.flame-main.four {
  animation-duration: 3.2s;
  animation-delay: 4s;
}
.flame-main.five {
  animation-duration: 2.5s;
  animation-delay: 5s;
}
@keyframes flameMovement {
  50% {
    transform: scale(0.98,1.0) translate(0, 2px) rotate(-1deg);
  }
}
@keyframes flameDisappear {
  0%{
    transform: translate(0) rotate(180deg);
  }
  50% {
     opacity: 1;
  }
  100% {
    transform: translate(-10px, -40px) rotate(180deg);
    opacity: 0;
  }
}

/* Ejemplo dentro de .container */
/* .container {
  text-align: center;
  padding: 1.25rem;
} */

#main-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-block-end: 3rem;
}

#end-message {
  /* display: none; */
  /* display: grid; */
  justify-content: center;
}

.hidden {
  display: none;
}